@mixin clearfix {
	/* append a pseudo element after the element which will then clear these floats */
	&::after {
		/* specify content property (pseudo element will not appear otherwise), content should be empty b/c we do not want to see it */
		content: "";
		display: table;
		clear: both;
	}	
}

@mixin absCenter {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

@mixin respond-phone {
	@media (max-width: 600px) {@content };
}

//MEDIA QUERY MANAGER
/* 
0-600px:		Phone 
600-900px: 		Tablet portrait
900-1200px: 	Tablet landscape
1200-1800px:	Is Where our normal styles apply
1800px +:       Big desktop
*/

/* 
$breakpoint argument choices:
	-phone
	-tab-port
	-tab-land
	-big-desktop
 */

//ORDER: Base + typography > layout + grid > page layout > components


// 1em === 16px;
//em === better unit to use for media queries since rems don't always behave as expected on some browsers
@mixin respond ($breakpoint){
	@if $breakpoint == phone {
		@media only screen and (max-width: 37.5em) {@content }; //600px
	}	
	
	@if $breakpoint == tab-port {
		@media only screen and (max-width: 56.25em) {@content }; //900px
	}	

	@if $breakpoint == tab-land {
		@media only screen and (max-width: 75em) {@content }; //1200px
	}		

	@if $breakpoint == big-desktop {
		@media only screen and (min-width: 112.5em) {@content }; //1800px
	}	
}