*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}
/*by setting block sizing on each property on the page to inherit, we force each element to inherit box-sizing:border-box CSS property*/
/* 
* ==>universal selector applies styles to all elements on page*/

html {
	//This defines what 1 rem is
	font-size: 62.5%;
}
/*root font-size is 10px (since 62.5% = 10/16) if user doesn't change anything; if user changes font-size then that will be reflected in the browser according to that scale (10/16)*/

body {
	// font-family: "Lato", sans-serif;
	// font-weight: 400;
	// /*font-size: 16px;*/
	// line-height: 1.7;
	// color: $color-grey-dark;
	// padding: 3rem;
	box-sizing: border-box;
}
/*
box-sizing: border-box 
	=> changes box model so borders and padding are not longer added to total width/height of element*/